---
interface Props {
  title: string;
  description: string;
  date: Date;
  tags: string[];
  slug: string;
  draft?: boolean;
  langs?: ("en" | "fr")[];
}

const {
  title,
  description,
  date,
  tags,
  slug,
  draft = false,
  langs = [],
} = Astro.props;
---

<a href={`/blog/${slug}`} class="group block">
  <article
    class="border-sage-7 bg-sage-1 group-hover:border-sage-8 group-hover:bg-sage-2 rounded-xl border p-6 transition-colors"
  >
    <div class="flex items-baseline gap-3">
      <h3
        class="group-hover:text-teal-11 text-xl font-bold transition-colors md:text-2xl"
      >
        {title}
      </h3>
      {
        draft && (
          <span class="border-sage-7 text-sage-11 rounded-full border px-2 text-xs">
            draft
          </span>
        )
      }
      {
        langs.length > 0 && (
          <div class="flex gap-1">
            {langs.map((lang) => (
              <span class="bg-teal-3 text-teal-11 border-teal-6 rounded-full border px-2 text-xs font-medium uppercase">
                {lang}
              </span>
            ))}
          </div>
        )
      }
    </div>

    <p class="text-sage-11 mt-2 max-w-prose text-base">{description}</p>

    <div
      class="text-sage-11 mt-4 flex flex-wrap items-center gap-x-4 gap-y-2 text-sm"
    >
      <div class="flex flex-wrap gap-2">
        {
          tags.map((tag: string) => (
            <span class="rounded-lg border px-3 py-1">{tag}</span>
          ))
        }
      </div>
      <span class="ml-auto text-xs"
        >{
          date.toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }</span
      >
    </div>
  </article>
</a>
