---
import Link from "@components/icons/Link.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  title: string;
  description: string;
  date: Date;
  status: "finished" | "wip";
  stack: string[];
  slug: string;
  live?: string;
  repository?: string;
  cover?: ImageMetadata;
}

const {
  title,
  description,
  date,
  status,
  stack,
  slug,
  live,
  repository,
  cover,
} = Astro.props;
---

<article class="flex flex-col gap-6 md:flex-row">
  <div class="flex flex-col">
    <div class="mb-2 flex items-center gap-3">
      <h3
        class="group-hover:text-teal-11 text-xl font-bold transition-colors md:text-2xl"
      >
        {title}
      </h3>
      {
        status === "wip" && (
          <span class="border-sage-7 text-sage-11 rounded-full border px-2 text-xs">
            en cours
          </span>
        )
      }
    </div>
    <div class="flex h-full flex-col gap-3">
      <div>
        <p class="opacity-50">Date</p>
        <p>{date.getFullYear()}</p>
      </div>
      <div>
        <p class="opacity-50">Description</p>
        <p class="max-w-[50ch]">{description}</p>
      </div>
      <div>
        <p class="opacity-50">Stack</p>
        <div class="flex max-w-prose flex-wrap gap-2 text-xs">
          {
            stack.map((tech) => (
              <span class="border-sage-7 rounded-sm border px-2 py-1">
                {tech}
              </span>
            ))
          }
        </div>
      </div>
      {
        live && (
          <div class="md:mt-auto">
            <p class="opacity-50">Démo</p>
            <a
              href={live}
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-teal-9 inline-flex items-center gap-1 underline"
            >
              {live}
              <Link />
            </a>
            <br />
            {repository && (
              <a
                href={repository}
                target="_blank"
                rel="noopener noreferrer"
                class="hover:text-teal-9 inline-flex items-center gap-1 underline"
              >
                {repository}
                <Link />
              </a>
            )}
          </div>
        )
      }
    </div>
  </div>
  {
    cover && (
      <a href={live} target="_blank" rel="noopener noreferrer">
        <Image
          src={cover}
          alt={`Cover du projet ${title}`}
          aria-hidden="true"
          class="border-sage-6 aspect-video h-full w-full border object-cover"
          width={500}
        />
      </a>
    )
  }
</article>
