---
interface Props {
  title: string;
  description: string;
  date: Date;
  status: "finished" | "wip";
  stack: string[];
  slug: string;
}

const { title, description, date, status, stack, slug } = Astro.props;
---

<a href={`/projects/${slug}`} class="group block">
  <article
    class="border-sage-7 bg-sage-1 group-hover:border-sage-8 group-hover:bg-sage-2 rounded-xl border p-6 transition-colors"
  >
    <div class="flex items-baseline gap-3">
      <h3
        class="group-hover:text-teal-11 text-xl font-bold transition-colors md:text-2xl"
      >
        {title}
      </h3>
      {
        status === "wip" && (
          <span class="border-sage-7 text-sage-11 rounded-full border px-2 text-xs">
            en cours
          </span>
        )
      }
    </div>

    <p class="text-sage-11 mt-2 max-w-prose text-base">{description}</p>

    <div
      class="text-sage-11 mt-4 flex flex-wrap items-center gap-x-4 gap-y-2 text-sm"
    >
      <div class="flex flex-wrap gap-2">
        {
          stack.map((tech: string) => (
            <span class="rounded-lg border px-3 py-1">{tech}</span>
          ))
        }
      </div>
      <span class="ml-auto text-xs">{date.getFullYear()}</span>
    </div>
  </article>
</a>
