---
import Link from "@components/icons/Link.astro";

interface Props {
  title: string;
  description: string;
  date: number;
  tags: string[];
  demo?: string;
  repository?: string;
}

const { title, description, date, tags, demo, repository } = Astro.props;
---

<article>
  <div class="flex flex-wrap items-baseline gap-3">
    {
      demo ? (
        <a
          href={demo}
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-teal-11 text-lg font-semibold transition-colors"
        >
          {title}
          <span class="sr-only">(ouvre un nouvel onglet)</span>
        </a>
      ) : (
        <p class="text-lg font-semibold">{title}</p>
      )
    }
    <div class="flex flex-wrap gap-2">
      {
        tags.map((tag) => (
          <span class="border-sage-7 rounded-sm border px-2 py-0.5 text-xs">
            {tag}
          </span>
        ))
      }
    </div>
  </div>

  <p class="text-sage-11 mt-2 max-w-prose text-base">{description}</p>

  <div
    class="text-sage-11 mt-3 flex flex-wrap items-center gap-x-4 gap-y-2 text-sm"
  >
    {
      (demo || repository) && (
        <div class="flex flex-wrap gap-x-4 gap-y-1">
          {demo && (
            <a
              href={demo}
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-teal-9 inline-flex items-center gap-1 underline"
            >
              Demo
              <Link />
            </a>
          )}
          {repository && (
            <a
              href={repository}
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-teal-9 inline-flex items-center gap-1 underline"
            >
              Repository
              <Link />
            </a>
          )}
        </div>
      )
    }
    <span class="ml-auto text-xs">
      {
  date
      }
    </span>
  </div>
</article>
