---
import LabCard from "@components/LabCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { ImageMetadata } from "astro";

const labs = (await getCollection("labs")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);

const covers = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/labs/*.webp",
  { eager: true },
);
---

<BaseLayout
  pageTitle="Labs — Thibaut LEFRANCOIS"
  title="Labs"
  isCenteredContent={false}
>
  <div
    class="flex flex-col [&:hover>.lab-card]:opacity-20 [&:hover>.lab-card:hover]:opacity-100 [&:focus-within>.lab-card]:opacity-20 [&:focus-within>.lab-card:focus-within]:opacity-100 [&>.lab-card]:transition-opacity [&>.lab-card]:duration-300"
  >
    {
      labs.map((lab, i) => (
        <LabCard
          id={labs.length - 1 - i}
          title={lab.data.title}
          date={lab.data.date}
          tags={lab.data.tags}
          demo={lab.data.demo}
          repository={lab.data.repository}
          image={covers[`/src/assets/labs/${lab.id}.webp`]?.default}
        />
      ))
    }
  </div>
</BaseLayout>
