---
import LabCard from "@components/LabCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { ImageMetadata } from "astro";

const labs = (await getCollection("labs")).sort(
  (a, b) => b.data.date - a.data.date,
);

const covers = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/labs/*.webp",
  { eager: true },
);
---

<BaseLayout
  pageTitle="Labs — Thibaut LEFRANCOIS"
  title="Labs"
  isCenteredContent={false}
>
  <div
    class="flex flex-col [&:hover>a]:opacity-20 [&:hover>a:hover]:opacity-100 [&>a]:transition-opacity [&>a]:duration-300"
  >
    {
      labs.map((lab, i) => (
        <LabCard
          id={i.toString()}
          title={lab.data.title}
          description={lab.data.description}
          date={lab.data.date}
          tags={lab.data.tags}
          demo={lab.data.demo}
          repository={lab.data.repository}
          image={covers[`/src/assets/labs/${lab.id}.webp`]?.default}
        />
      ))
    }
  </div>
</BaseLayout>
