---
import LabCard from "@components/LabCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const labs = (await getCollection("labs")).sort(
  (a, b) => b.data.date - a.data.date,
);
---

<BaseLayout pageTitle="Labs — Thibaut LEFRANCOIS" title="Labs">
  <div class="flex flex-col divide-y">
    {
      labs.map((r) => (
        <div class="py-6 first:pt-0 md:py-8">
          <LabCard
            title={r.data.title}
            description={r.data.description}
            date={r.data.date}
            tags={r.data.tags}
            demo={r.data.demo}
            repository={r.data.repository}
          />
        </div>
      ))
    }
  </div>
</BaseLayout>
