---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Header from "@components/Header.astro";
import PageTransition from "@components/PageTransition.astro";

interface Props {
  pageTitle?: string;
  title?: string;
  srOnlyTitle?: boolean;
  subtitle?: string;
  subtitleCount?: number;
}

const {
  pageTitle = "Thibaut LEFRANCOIS - portfolio",
  title,
  srOnlyTitle = true,
  subtitle,
  subtitleCount,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ClientRouter />
  </head>

  <body class="flex flex-col w-dvw min-h-dvh">
    <PageTransition />
    <Header />
    <main class="flex flex-col flex-1 px-6 pb-8">
      {
        title && (
          <h1
            class:list={[
              "text-3xl md:text-4xl font-bold",
              srOnlyTitle && "sr-only",
            ]}
          >
            {title}
          </h1>
        )
      }
      {
        subtitle && (
          <h2 class="text-xl md:text-2xl font-semibold">
            {subtitle}
            {subtitleCount !== undefined && (
              <sub class="text-base font-sans align-sub opacity-50">
                ({subtitleCount})
              </sub>
            )}
          </h2>
        )
      }
      <slot />
    </main>
  </body>
</html>
